*  {
    text-align: center;
}

.hide {
    display: none;
}

nav ul {
    font-size: small;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
}

ol {
    display: block;
    text-align: left;
}

#countDown {
    margin-right: 30px;
}

h1 {
    font-size: xx-large;
    padding-top: 50px;
    padding-bottom: 10px;
}

p {
    display: flex;
    padding-top: 10px;
    padding-left: 20%;
    padding-right: 20%;
}

#start-button {
    padding: 20px;
    text-align: center;
}

button {
    background-color:skyblue;
}

button:hover {
    border-color: tan;
}

main #quizTime {
    text-align: left;
    color: blue;

}

.button-container {
    display: flex;
    flex-direction: column;
}

#all_done,
#your_score {
    display: block;
    text-align: left;
    padding-left: 35%;
    padding-right: 35%;
    margin-bottom: 20px;
}

div, h2 {
    display: block;
    text-align: left;
    padding-left:20%;
    padding-right: 20%;
    margin-bottom: 20px;
}

#submitInit {
    margin-left: 5px;
}

header {
    margin: 100px auto 0 auto;
    max-width: 600px;
}

#return-button {
    text-align: center;
    padding: 20px;
}